<div class="container my-5">
  <div class="alert alert-danger">
    <h4 class="alert-heading">Error</h4>
    <p><%= error %></p>
    <hr>
    <p class="mb-0">
      <a href="/" class="alert-link">Regresar a la página principal</a>
    </p>
  </div>
</div>
